.App {
  text-align: center;
}

:root {
  --iOSGreen: #53d769;
  --iOSBlue: rgb(38, 142, 250);
  --main-text-color: red;
  --secondary-text-color: purple;
  --grey: rgb(142, 142, 147);
  --lightGrey: rgb(249, 249, 249);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: var(--main-text-color)	;

}

.message {
  margin: 15px 0;
}

.message .message-username {
  font-size: 12px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 15;
}

.message-list {
  text-align: center;
  width: -webkit-fit-content;
  height: -webkit-fit-content;
  width: -moz-fit-content;
  height: -moz-fit-content;
  background: var(--iOSBlue);
  border-radius: 30%;
  padding: 5px 5px;
  color: white;
}
.listStyle{
 list-style-type: none;

 display: flex;
 flex-flow: column;
 justify-content: center;
 padding: 3%;
 margin: 0;
}
.senderId{
  color: grey;
  text-align: center;
  margin-top: 15px;
}
.title{
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  color: var(--iOSBlue);
  background: var(--lightGrey);
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);
}
.footer{
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.2);
  align-items: center;
  justify-content: space-around;
}
.lightGrey{
  color: var(--grey)
}
.submitContainer{
  width: 70%;
  height: 30px;

}
.textSubmit{
  width:100%;

  height: 100%;
  border-radius: 10%;
}
